 .notice {
    display: flex;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 200px;
    background: var(--clr-bg-dark);
    opacity: 0.95;
    border-radius: 20px;
    color: var(--clr-white);
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 20px;
    z-index: 9999;
  }

