.footer {
}
.footer-link-logo {
  display: inline-block;
  margin-bottom: 8px;
  padding-left: var(--container-padding);
}

.footer-partner {
  padding: var(--container-padding);
}

.footer-partner-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.footer-address {
  font-style: normal;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  padding: var(--container-padding);
}
.footer-contacts,
.footer-social-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0;
}

.footer-social-item {
  display: flex;
  align-items: center;
}

.footer-social-link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-social-icons {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: block;
}

.instagram {
  width: 24px;
  height: 24px;
}

.linkedin {
  width: 28px;
  height: 28px;
  margin-left: -3px;
}

/*------------------ Tablet styles----------------- */

@media screen and (min-width: 768px) {
  .footer-partner-list {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-address {
    flex-direction: row;
    justify-content: space-around;
  }
}
