header {
  padding: 24px 0;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.langSwitch {
  display: flex;
  gap: 10px;
}

.langSwitch button {
  border: none;
  background-color: transparent;
  padding: 10px 20px;
}
