.news-more-part {
  margin-top: 40px;
}

.container.news-more {
  padding-top: 50px;
  padding-bottom: 50px;
}

.news-more-gallery-item:not(:last-of-type) {
  margin-bottom: 16px;
}

.news-more-title {
  margin-bottom: 30px;
  font-size: var(--fs-news-xl);
  font-style: normal;
  font-weight: var(--fw-bold);
  letter-spacing: -1px;
  line-height: 1.4;
  color: var(--clr-white);
}

.publ-img-thumb {
  width: 100%;
  height: 179px;
}

.publ-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.publ-definition {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 3.5px;
  line-height: 1.667;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  text-align: start;
}

.publ-title {
  text-align: start;
}

.news-more-btn {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
}

.news-more-btn-back {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 3;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .news-more-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: stretch;
  }

  .news-more-gallery-item {
    width: calc((100% - 40px) / 3);
  }

  .news-more-part {
    margin-top: 80px;
  }

  .news-more-gallery-item:not(:last-of-type) {
    margin-bottom: 0;
  }

  .news-more-title {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 1.25;
  }

  .publ-img-thumb {
    width: 100%;
    height: 136px;
  }

  .publ-definition {
    margin-top: 30px;
  }
}
