.projects-gallery {
  perspective: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  justify-items: center;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}

.gallery-item {
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  transform: scale(1) opacity(1);
  transition: transform var(--transition);
  border: 1px solid var(--clr-accent);

  &:hover {
    border: none;
    transform: scale(1.03);
    transition: transform 0.3s ease;
  }
}

.gallery-item:hover .card {
  animation: spinX 0.9s ease;
}

@keyframes spinX {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.img,
.preview-img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.preview-img {
  opacity: 0.3;
}

.info {
  display: grid;
  gap: 10px;
  padding-block: 10px;
  justify-items: start;
  color: var(--clr-white);
  align-content: space-between;
  height: auto;
}

.wrap-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo-info {
  display: none;

  @media (min-width: 768px) {
    display: block;
    width: 40px;
    height: 40px;
  }

  @media (min-width: 1024px) {
    width: 80px;
    height: 80px;
  }
}

.hoverInfo {
  display: flex;
  gap: 30px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding-left: 20px;
  padding-right: 10px;
  align-items: center;
  opacity: 0;
  width: 100%;
  pointer-events: none;
  z-index: 5;
  transition: opacity 0.2s ease 0.4s;
  justify-content: center;

  @media (min-width: 768px) {
    padding-left: 40px;
    padding-right: 20px;
    gap: 20px;
    justify-content: start;
  }

  @media (hover: none) {
    opacity: 1;
  }
}

.hoverInfo h2,
.hoverInfo h3,
.hoverInfo p {
  margin: 0;
  padding: 0;
}

.hoverInfo p {
  font-size: var(--fs-small);
  line-height: 100%;

  @media (min-width: 768px) {
    font-size: var(--fs-body);
  }
}

.gallery-item::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 70%;
  inset: 0;
  background-color: transparent;
  transition: background-color 0.1s ease 0.6s;
  pointer-events: none;
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.432) 1px,
    transparent 0.5px
  );
  background-size: 20px 20px;
  opacity: 0;
  z-index: 2;
}

.card::before,
.item-group::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: background-color 0s ease 0.6s;
  pointer-events: none;
  z-index: 2;

  @media (hover: none) {
    background-color: rgba(0, 0, 0, 0.534);
  }
}

.link-project {
  position: absolute;
  inset: 0;
  z-index: 5;
  /* cursor: pointer; */
}

.card {
  position: relative;
}

.card::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  /* top: calc(var(--y) - 40px);
  left: calc(var(--x) - 40px); */
  background-image: radial-gradient(
    ellipse,
    rgba(255, 255, 255, 0.884) 1px,
    transparent 1px
  );
  background-size: 20px 20px;
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.1s ease background-color 0.1s ease 0.6s;
  pointer-events: none;
}

.gallery-item:hover .card::before,
.item-group::before {
  background-color: rgba(0, 0, 0, 0.534);
}

.gallery-item:hover::after {
  opacity: 1;
}

.gallery-item:hover .hoverInfo {
  opacity: 1;
}

.city-name {
  position: relative;
  z-index: 10;
  color: bisque;
  line-height: 100%;
  /* pointer-events: auto; */

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.groupгInfo {
  align-items: center;
  opacity: 1;
  height: 100%;
  padding-block: 0;
}

.groupгInfo h2 {
  text-align: center;
}

.gallery-item {
  opacity: 1;
  transform: scale(1) translate(0, 0);
  transition:
    opacity 0.5s cubic-bezier(0.4, 0, 0.2, 0.5),
    transform 0.5s cubic-bezier(0.4, 0, 0.2, 0.5);
}

.skeleton-gallery.reset,
.gallery-item.reset {
  opacity: 0;
  transform: scale(0.8);
}

.gallery-item.loading {
  opacity: 0;
}

.gallery-item.loading:nth-child(4n + 1) {
  transform: translateY(100%) scale(0.9);
}
.gallery-item.loading:nth-child(4n + 2) {
  transform: translateX(-100%) scale(0.9);
}
.gallery-item.loading:nth-child(4n + 3) {
  transform: translateX(100%) scale(0.9);
}
.gallery-item.loading:nth-child(4n + 4) {
  transform: translateY(-100%) scale(0.9);
}

.gallery-item.reset:nth-child(4n + 1) {
  transform: translateY(100%) scale(0.9);
}
.gallery-item.reset:nth-child(4n + 2) {
  transform: translateX(100%) scale(0.9);
}
.gallery-item.reset:nth-child(4n + 3) {
  transform: translateY(100%) scale(0.9);
}
.gallery-item.reset:nth-child(4n + 4) {
  transform: translateY(100%) scale(0.9);
}

.error {
  text-align: center;
  color: rgba(255, 0, 0, 0.719);
}

@keyframes fromRight {
  from {
    opacity: 0;
    transform: translateX(100%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translate(0) scale(1);
  }
}
@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(100%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translate(0) scale(1);
  }
}
@keyframes fromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translate(0) scale(1);
  }
}
@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-100%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translate(0) scale(1);
  }
}

.anim-item:nth-child(4n + 1) {
  animation: fromRight 0.6s ease forwards;
}
.anim-item:nth-child(4n + 2) {
  animation: fromBottom 0.6s ease forwards;
}
.anim-item:nth-child(4n + 3) {
  animation: fromLeft 0.6s ease forwards;
}
.anim-item:nth-child(4n + 4) {
  animation: fromTop 0.6s ease forwards;
}
