@import "../base/reset.css";
@import "../base/variables.css";

/* 2. Layout Components */
@import "../components/header.css";
@import "../components/projects-gallery.css";
@import "../components/footer.css";
@import "../components/leaflet.css";
@import "../components/404.css";

body {
  background-color: var(--clr-bg-main);
  cursor: default;
}

button {
  cursor: pointer;
}

[x-cloak] {
  display: none !important;
}

.title1 {
  text-align: center;
  letter-spacing: -0.2px;
  min-height: 48px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  line-height: 1.15;

  @media (min-width: 1024px) {
    font-size: var(--fs-h2);
  }
}

h3 {
  font-size: 18px;
  line-height: 1;

  @media (min-width: 1024px) {
    font-size: var(--fs-h3);
  }
}

#filter {
  padding: calc(var(--mb-section) / 2) 0;
  min-height: 270px;
}

#projects {
  padding: calc(var(--mb-section) / 2) 0;
}

#projects,
#group {
  padding-top: 20px;
}

.container-gallery,
.container-filter {
  max-width: 100%;

  @media (min-width: 1024px) {
    max-width: var(--container-width);
  }
}

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  min-height: 186px;

  @media (min-width: 1024px) {
    min-height: 126px;
  }

  @media (min-width: 1024px) {
    flex-wrap: nowrap;
    padding: 10px 20px;
    justify-content: space-between;
  }
}

.input-wrap {
  position: relative;
}

input {
  display: block;
  border-radius: 10px;
  outline: none;
  height: 40px;
  border: 1px solid var(--clr-text-secondary);
  color: var(--clr-text-secondary);
  width: 265px;
  padding: 6px 32px 6px 12px;

  @media (min-width: 768px) {
    width: 220px;
  }
}

.icon-search {
  position: absolute;
  top: 10px;
  right: 6px;
  color: var(--clr-text-secondary);
}

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 20px;
  margin: 20px 0;
  width: 100%;
  min-height: 106px;

  @media (min-width: 600px) {
    min-height: 46px;
  }

  @media (min-width: 768px) {
    flex-wrap: nowrap;
    justify-content: end;
  }

  @media (min-width: 1024px) {
    min-width: 709px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-filter {
  display: block;
  padding: 6px;
  width: 80px;
  height: 34px;
  margin-top: 2px;
  border-top-left-radius: 10px;
  border-right: none;
  font-weight: var(--fw-regular);
  color: var(--clr-text-secondary);
  font-size: var(--fs-body);

  @media (min-width: 768px) {
    position: static;
    clip-path: none;
  }
}

.btnMode {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 120px;
  padding: 0 8px;
  border-radius: 12px;
  border: 1px solid var(--clr-text-secondary);
  background-color: var(--clr-bg-block);
  color: var(--clr-text-main);
  height: 46px;
  text-decoration: none;
  font-size: var(--fs-small);
  text-align: center;

  @media (min-width: 768px) {
    max-width: 180px;
    height: 40px;
  }

  &:hover {
    background-color: var(--clr-bg-main);
    color: var(--clr-text-main);
    box-shadow: var(--btn-hover-box-shadow);
  }
}

.btnAll {
  width: 120px;
}

.custom-select {
  position: relative;
  order: 1;

  @media (min-width: 768px) {
    order: 2;
  }
}

.custom-select .input-select {
  cursor: pointer;
  pointer-events: auto;
}

.input-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 14px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  width: 265px;
  border: 1px solid var(--clr-text-secondary);
  background-color: var(--clr-bg-block);
  font-size: var(--fs-menu);

  @media (min-width: 768px) {
    width: 220px;
  }

  &:hover {
    background-color: var(--clr-bg-main);
    box-shadow: var(--btn-hover-box-shadow);
  }
}

.activeCategory {
  background-color: var(--clr-divider);
  box-shadow: var(--btn-active-box-shadow);
  pointer-events: none;
  cursor: default;

  &:hover {
    box-shadow: var(--btn-hover-box-shadow);
  }
}

.icon-select {
  position: absolute;
  top: 12px;
  right: 12px;
  color: var(--clr-text-secondary);
  transform: rotate(-180deg);
  transition: transform var(--transition);
  /* cursor: pointer; */
  pointer-events: none;
}

.icon-select.open {
  transform: rotate(0);
  transition: transform var(--transition);
}

.dropdown {
  display: flex;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 15;
  background-color: var(--clr-bg-block);
  color: var(--clr-text-secondary);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  height: 140px;
  overflow-y: auto;
  border: 1px solid var(--clr-text-secondary);
  border-top: none;
}

.category-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  padding-block: 10px;
  background-color: var(--clr-bg-block);
}

.category-item {
  padding: 6px;
  width: 100%;
  &:hover {
    background-color: var(--clr-text-secondary);
  }
}

.category-item:hover .category-link {
  color: var(--clr-white);
}

.category-link {
  display: block;
  text-decoration: none;
  padding-left: 12px;
  font-size: var(--fs-menu);
  color: var(--clr-text-secondary);
}

.statWrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 14px;
  min-height: 126px;

  @media (min-width: 600px) {
    min-height: 76px;
  }

  @media (min-width: 768px) {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
.groupWrap {
  text-align: center;
  min-height: 76px;
}

@media (min-width: 768px) {
  .title-group {
    /* min-height: 56px; */
    margin-bottom: 10px;
  }
}

.sort {
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  gap: 10px;
  padding-inline: 10px;
}

.sort .visually-hidden {
  @media (min-width: 768px) {
    overflow: hidden;
    position: absolute;
  }

  @media (min-width: 1024px) {
    position: static;
    width: 80px;
    font-size: var(--fs-small);
    overflow: visible;
  }
}

.select-sort {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 36px;
  width: 180px;
  cursor: pointer;

  @media (min-width: 768px) {
    height: 40px;
  }
}

.icon-select-sort {
  position: absolute;
  top: 12px;
  right: 24px;
  color: var(--clr-text-secondary);
  transform: rotate(-180deg);
  transition: transform var(--transition);
  cursor: pointer;
  pointer-events: none;
}

.status {
  display: flex;
  padding-block: 10px;
  align-items: center;

  @media (min-width: 768px) {
  }
}

.filterTab {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 10px;
  min-height: 56px;

  @media (min-width: 768px) {
    font-size: var(--fs-small);
  }
}

.tab {
  width: 100%;
}

.filterTab button {
  padding: 6px;
  width: 100%;
  max-width: 63px;
  height: 34px;
  border: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: var(--clr-bg-block);
  border: 1px solid var(--clr-text-secondary);
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (min-width: 375px) {
    max-width: 100%;
  }

  @media (min-width: 768px) {
    padding: 10px;
  }

  &:hover {
    box-shadow: var(--btn-hover-box-shadow);
    background-color: var(--clr-bg-main);
  }
}

.filterTab button:disabled {
  cursor: default;
}

.filterTab .active {
  max-width: 100%;
  background-color: var(--clr-divider);
  transform: translateY(-1px);
  padding-bottom: 8px;
  border-bottom: none;
  height: 36px;
  color: var(--clr-text-main);
  box-shadow: var(--btn-active-box-shadow);

  @media (min-width: 375px) {
    max-width: 100%;
  }
}

.not-projects {
  padding: 40px;
  text-align: center;
}

.loading {
  height: 300px;
  text-align: center;
}


.btnUp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  bottom: 10px;
  right: 4px;
  width: 30px;
  height: 30px;
  padding: 4px;
  border-radius: 50%;
  border: 2px solid var(--clr-accent);
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 999;

  @media (min-width: 768px) {
    bottom: 20px;
    right: 10px;
    width: 40px;
    height: 40px;
    padding: 6px;
  }

  &:hover {
    border: 2px solid var(--clr-accent-hover);
    background-color: var(--clr-divider);
  }
}

.icon-btnUp {
  width: 20px;
  height: 20px;
  fill: var(--clr-accent);
  stroke: var(--clr-accent);

  @media (min-width: 768px) {
    width: 34px;
    height: 34px;
  }
}

.btnUp:hover {
  fill: var(--clr-accent-hover);
  stroke: var(--clr-accent-hover);
}

main {
  min-height: calc(100vh - 56px);
}
