
.container-100 {
    max-width: 100%;
    padding: 0;
    /* NOT 1200px */
    /* padding-top: 20px;
    padding-bottom: 20px; */
}

.p-40-50 {
    padding: 20px 25px;
}

h1 {
    color: var(--clr-text-main);
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: var(--clr-accent);
}

a:hover {
    color: var(--clr-accent-hover);
}

.grey {
    background-color: var(--clr-bg-dark);
}

.light-grey {
    background-color: var(--clr-text-secondary);
}

.hero {
    margin: 0px auto 15px;

    position: relative;
    height: 100vh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
}

.main-details ul {
    list-style: none;
}

.main-details-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--clr-bg-main);
}

.main-details-content-1 * {
    color: var(--clr-bg-main);
}

.main-details-content-1 {
    max-width: fit-content;
}

.main-details-content-2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    color: var(--clr-bg-main);
    font-size: var(--fs-h3);
    font-weight: var(--fw-semibold);

}

.main-details-content-2 div {
    margin-bottom: 10px;
}





.description {
    font-style: italic;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details p {
    margin: 10px 0;
}

.details-1,
.details-2,
.details-3 {
    flex: 1 1 0px;
}

.pdf-link a {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    text-decoration: none;
}

.website {
    margin: 15px 0px;
    padding: 20px 0;


}

.gallery {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.gallery-wrapper {
    position: relative;
    width: 100%;
}

.gallery-track {
    position: relative;
    /* inset: 0 25px; */
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    gap: 15px;
    padding: 20px 0;
}

.thumbnail {
    flex: 0 0 auto;
    width: auto;
    height: 200px;
    margin: 8px;
    border-radius: 25px;
    cursor: pointer;
}

.arrow {
    position: absolute;
    background: var(--clr-text-secondary);
    color: var(--clr-bg-block);
    border: none;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
}

.arrow.left {
    left: 0px;
}

.arrow.right {
    right: 0px;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.modal img {
    max-width: 90%;
    max-height: 90%;
}



/*Partners */

.partners-items {
    display: flex;
    justify-content: flex-start;

}

.partners a div {
    justify-items: center;
    max-width: fit-content;
}

.partners img {
    width: 100px;
    height: 100px;
}

.divider {
    background-color: var(--clr-divider);
    height: 5px;
}

@media (max-width: 767px) {
    .gallery-track {
        gap: 0;
    }

    .thumbnail {
        flex: 0 0 100%;
        width: 100%;
        height: auto;
        border-radius: 5px;
        margin: 0;
    }
}

@media (min-width: 768px) {
    .p-40-50 {
        padding: 40px 50px;
    }

    .main-details-content {
        flex-direction: row;
    }

    .main-details-content-2 {
        flex-direction: row;
        gap: 50px;
    }

    .details {
        display: flex;
        flex-direction: row;
        gap: 20px;

    }
}

@media (min-width: 1024px) {
    .p-40-50 {
        padding: 40px 50px;
    }

    .main-details-content-2 {
        justify-content: flex-start;
    }

    .details-column {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .details {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}