<div class="container container-filter"  x-data="{open: false, show: false}">
  <h1 x-text="t(projectsData.title)" class="title1">Наші проекти</h1>
  <div class="filters">
    <template x-if="mode === 'all'">
      <div class="input-wrap">
        <label for="search" class="visually-hidden">Search project</label>
        <input
          id="search"
          type="search"
          aria-label="search projects"
          title="search projects"
          x-model="search"
          class="search"
          @input.debounce.700="updateUrl()"
        />
        <svg class="icon-search" width="20" height="20">
          <use href="/images/sprite.svg#search"></use>
        </svg>
      </div>
    </template>

    <div class="categories">
      <h2
        class="title-filter visually-hidden"
        x-text="t(projectsData.titleCategory)"
      >
        Категорія
      </h2>
      <a
        :href="l('/projects')"
        class="btnMode btnAll"
        :class="{activeCategory: !category && mode !== 'group'}"
        x-text="t(projectsData.titleAll)"
        >Всі категорії</a
      >
      <div class="custom-select" @click.outside="open=false">
        <button
          class="input-select"
          :class="{activeCategory: category}"
          :aria-pressed="category ? 'true' : 'false'"
          @click="open=!open; console.log('category', category)"
          :aria-label="t(projectsData.tiltup)"
          :title="t(projectsData.tiltup)"
          x-effect="document.body.style.overflow = open ? 'hidden' : ''"
          x-text="category ? ($store.categories.list.find(c=> c.slug ===category))?.name : t(projectsData.tiltup)"
        >
          Виберіть категорію
        </button>
        <svg class="icon-select" :class="{open: open}" width="16" height="16">
          <use href="/images/sprite.svg#select-up"></use>
        </svg>
        <template x-if="open">
          <div class="dropdown">
            <ul class="category-list">
              <template x-for="item in $store.categories.list">
                <li class="category-item">
                  <a
                    :href="l(`/projects/${item.slug}`)"
                    x-text="item.name"
                    class="category-link"
                  ></a>
                </li>
              </template>
            </ul>
          </div>
        </template>
      </div>
      <a
        :href="l('/projects?mode=group')"
        class="btnMode"
        x-text="t(projectsData.btnTab)"
        :class="{'activeCategory' : mode === 'group'}"
        :disabled="mode==='group'"
        >Групувати за категоріями</a
      >
    </div>
  </div>
  <div class="groupWrap" x-show="mode==='group'">
    <h2 class="title-group" x-text="t(projectsData.titleGroup)">
      Категорії проектів
    </h2>
    <p class="text-group" x-text="t(projectsData.textGroup)">
      Оберіть категорію, щоб переглянути відповідні проєкти.
    </p>
  </div>

  <!-- <template x-if="mode!== 'group'"> -->
  <div class="statWrap" x-data="{open: false}" x-show="mode!== 'group'">
    <div class="sort">
      <label
        for="sort"
        x-text="t(projectsData.sort)"
        class="title-filter visually-hidden"
      ></label>
      <select
        name="sort"
        class="select-sort input-select"
        id="sort"
        x-model="order"
        @change="order=$event.target.value; updateUrl(); reload()"
      >
        <option value="nameAsc" x-text="t(projectsData.nameAsc)"></option>
        <option value="nameDesc" x-text="t(projectsData.nameDesc)"></option>
        <option value="oldest" x-text="t(projectsData.oldest)"></option>
        <option
          selected
          value="newest"
          x-text="t(projectsData.newest)"
        ></option>
      </select>
      <svg
        class="icon-select-sort"
        :class="{open: open }"
        width="16"
        height="16"
      >
        <use href="/images/sprite.svg#select-up"></use>
      </svg>
    </div>
    <div class="status">
      <h2
        for="filterTab"
        class="title-filter visually-hidden"
        x-text="t(projectsData.titleStatus)"
      >
        Статус
      </h2>
      <ul class="filterTab" role="tablist">
        <template x-for="item in statusLang" :key="item.key">
          <li class="tab" role="tab">
            <button
              @click="show = !show; status= item.key=== 'all' ? null : item.key; updateUrl(); reload()"
              x-text="t(item.label)"
              :aria-label="t(item.label)"
              :title="t(item.label)"
              :class="{'active':isActive(item)}"
              :disabled="isActive(item)"
              :aria-pressed="isActive(item) ? 'true' : 'false'"
            >
              {{item.label}}
            </button>
          </li>
        </template>
      </ul>
    </div>
  </div>
  <!-- </template> -->
</div>
