<footer class="footer">
  <a href="/" class="footer-link-logo">
    <img
      src="/images/logoFull.webp"
      alt="Логотип компанії"
      width="120"
      class="footer-logo"
    />
  </a>

  <hr />

  <div class="footer-partner">
    <ul class="footer-partner-list">
      <li class="footer-partner-item">
        <img
          src="/images/logoFull.webp"
          alt="Логотип партнера компанії"
          width="320"
          class="footer-partner-logo"
        />
      </li>
      <li class="footer-partner-item">
        <img
          src="/images/logoFull.webp"
          alt="Логотип партнера компанії"
          width="320"
          class="footer-partner-logo"
        />
      </li>
      <li class="footer-partner-item">
        <img
          src="/images/logoFull.webp"
          alt="Логотип партнера компанії"
          width="320"
          class="footer-partner-logo"
        />
      </li>
      <li class="footer-partner-item">
        <img
          src="/images/logoFull.webp"
          alt="Логотип партнера компанії"
          width="320"
          class="footer-partner-logo"
        />
      </li>
    </ul>
  </div>
  <address class="footer-address">
    <div class="footer-contacts">
      <p>
        Наша адреса: <br />
        вул. Шевченка, 1, Київ, Україна
      </p>
      <p>
        Телефон:
        <a href="tel:+38093939393">+38(093)-939-393</a>
      </p>
      <p>
        Пошта:
        <a href="mailto: lala@gmail.com">lala@gmail.com</a>
      </p>
    </div>
    <ul class="footer-social footer-social-list">
      <li class="footer-social-item">
        <a
          class="footer-social-link"
          href="https://www.facebook.com/"
          aria-label="Наша сторінка на Facebook"
          target="_blank"
        >
          <svg class="footer-social-icons">
            <use href="/images/sprite.svg#facebook" />
          </svg>
          Наша сторінка на Facebook
        </a>
      </li>
      <li class="footer-social-item">
        <a
          class="footer-social-link"
          href="https://www.instagram.com/"
          aria-label="Наша сторінка на Instagram"
          target="_blank"
        >
          <svg class="footer-social-icons instagram">
            <use href="/images/sprite.svg#instagram" />
          </svg>
          Наша сторінка в Instagram
        </a>
      </li>
      <li class="footer-social-item">
        <a
          class="footer-social-link"
          href="https://ua.linkedin.com/"
          aria-label="Наша сторінка на linkedin"
          target="_blank"
        >
          <svg class="footer-social-icons linkedin">
            <use href="/images/sprite.svg#linkedin" />
          </svg>
          Наша сторінка в linkedin
        </a>
      </li>
    </ul>
  </address>
</footer>
