<header x-data="renderMenu()">
  <div class="container header-container">
    <div class="langSwitch">
      <button
        @click="($store.locale.set('en'));"
        :aria-label="t(projectsData.langSwitch) + ' EN'"
        :title="t(projectsData.langSwitch) + ' EN'"
      >
        EN
      </button>
      <button
        @click="($store.locale.set('uk'));"
        :aria-label="t(projectsData.langSwitch) + ' UK'"
        :title="t(projectsData.langSwitch) + ' UK'"
      >
        UA
      </button>
    </div>
    <a href="/" class="logo-link">
      <img
        src="/images/logoFull.webp"
        width="150"
        height="50"
        alt="На головну"
        class="logo-img"
      />
    </a>
    <button
      type="button"
      class="btn open-button"
      @click="openMenu()"
      aria-label="Відкрити меню"
    >
      Menu
    </button>

    <template x-teleport="body">
      <div
        class="full-screen-menu"
        :class="{ 'is-open': open }"
        @keydown.escape.window="closeMenu()"
      >
        <a href="/" @click="closeMenu()">
          <img
            src="/images/logoFull.webp"
            width="150"
            height="50"
            alt="На головну"
            class="logo-img"
          />
        </a>
        <button
          type="button"
          class="close-button"
          @click="closeMenu()"
          aria-label="Закрити меню"
        >
          &times;
        </button>

        <nav class="menu-nav">
          <ul>
            <template x-for="page in pages" :key="page.link">
              <li>
                <a
                  :href="page.link"
                  @click="closeMenu()"
                  x-text="page.name"
                ></a>
              </li>
            </template>
          </ul>
        </nav>
      </div>
      <load src="/src/partials/menu.html" />
    </template>
  </div>
</header>
