<section class="leaflet" x-data="leaflet" x-cloak>
    <div class="container container-leaflet" x-intersect.once="buildMap()">
      <h2 x-text="textMap().title" class="titleMap">Карта наших проектів</h2>
      <p x-text="textMap().text" class="textMap">Можете переглянути положення наших об'єктів на карті</p>
      <div id="map">
         <img src="/images/map-preview.webp" alt="map preview" class="map-prew" fetchpriority="high">
      </div>
      <p class="note">
        <strong x-text="t(projectsData.note)">Примітка</strong>
        <span x-text="t(projectsData.noteDescription)">Натисніть на мітку, щоб переглянути інформацію про об’єкт. Для переходу на сторінку об’єкта скористайтеся посиланням 'Переглянути'.</span>
      </p>
        </div>
    </div>
</section>
