<div class="container">
  <h2 class="news-title">Новини</h2>
  <ul class="news-gallery">
    <template x-data x-for="pub in $store.news.items">
      <li class="news-gallery-item">
        <article :data-id="pub.id" class="news-item">
          <div class="publication-img-thumb">
            <img
              :src="pub.logoSm"
              alt="publication logo"
              class="publication-logo"
              height="170px"
            />
          </div>
          <div class="publication-content-thumb">
            <p class="publication-definition">Публікація</p>
            <h3 x-text="pub.title" class="publication-title"></h3>
            <p x-text="pub.description" class="publication-description"></p>
          </div>
        </article>
      </li>
    </template>
  </ul>
</div>
