<div class="container">
  <div class="publication-img-thumb">
    <img
      :src="pub.logoXl"
      alt="publication logo"
      class="publication-logo"
      height="170px"
    />
  </div>
  <div class="publication-content-thumb">
    <button class="publication-btn">Повернутися до публікацій</button>
    <p class="publication-definition">Публікація</p>
    <h3 x-text="pub.title" class="publication-title"></h3>
    <p x-text="pub.description" class="publication-description"></p>
  </div>
  <div class="publication-more">
    <ul>
      <template>
        <li>
          <article></article>
        </li>
      </template>
    </ul>
  </div>
</div>
