<section id="group">
  <div class="container">
    <ul class="projects-gallery">
      <template x-for="item in categoryGroup" :key="item.slug">
        <li class="gallery-item item-group">
          <article class="gallery-card">
            <a :href="l(`/projects/${item.slug}`)" class="link-project"></a>
            <img
              :src="item.projects ? item.projects.cover: '/images/logo.webp'"
              :alt="item.projects?.projectName"
              class="img"
            />
            <div class="hoverInfo groupгInfo">
              <img src="/images/logo.webp" class="logo-info" />
              <div class="info">
                <h2 x-text="item.name" style="text-align: center"></h2>
                <template x-if="item.projects!==null">
                  <h3 x-text="item.projects?.projectName"></h3>
                  <div class="wrap-info">
                    <a
                      class="city-name"
                      :href="`/city/${item.projects?.city?.slug}`"
                      x-text="item.projects?.city?.name"
                    ></a>
                    <p
                      x-text="item.projects?.timeline? (item.projects?.timeline?.yearStart && item?.projects?.timeline.yearEnd ? (item.projects.timeline.yearStart + '-'+ item.projects?.timeline.yearEnd) :  (item.projects?.timeline.yearStart ?? item.projects?.timeline.yearEnd)) : ''"
                    ></p>
                  </div>
                  <p x-text="item.projects?.area + ' м2'"></p>
                </template>
              </div>
            </div>
          </article>
        </li>
      </template>
    </ul>
  </div>
</section>
