<div class="container container-gallery">
  <template
    x-if="filtered.length===0 && !$store.projects.isLoading && !$store.projects.error"
  >
    <p class="not-projects" x-text="t(projectsData.notFound)">
      На жаль за Вашим запитом не знайшлося проектів. Спроуйте повторити пошук з
      іншими параметрами
    </p>
  </template>

  <ul class="projects-gallery">
    <template x-for="item, index in visible" :key="item._id">
      <li class="gallery-item anim">
        <article class="card">
          <a
            :href="l(`/projects/${item.category?.slug}/${item.slug}`)"
            class="link-project"
            :aria-label="`go to page project ${item.projectName}`"
            :title="`go to page project ${item.projectName}`"
          >
          </a>
          <picture>
            <source
              :srcset="`${item.cover}?w=320&fm=webp&q=60 320w, ${item.cover}?w=570&fm=webp&q=60 570w`"
              type="image/webp"
            />
            <source
              :srcset="`${item.cover}?w=320&fm=avif&q=60 320w, ${item.cover}?w=570&fm=avif&q=60 570w`"
              type="image/avif"
            />
            <img
              :src="`${item.cover}?w=570`"
              :srcset="`${item.cover}?w=320 320w, ${item.cover}?w=570 570w`"
              sizes="(max-width: 600px) 100vw, 570px"
              :alt="`picture project ${item.projectName}`"
              class="img"
              :fetchpriority="index === 0 ? 'high' : null"
              :loading="index === 0 ? null : 'lazy'"
              decoding="async"
            />
          </picture>

          <div class="hoverInfo">
            <img
              src="/images/logo.webp"
              class="logo-info"
              alt=""
              width="80"
              height="80"
            />
            <div class="info">
              <h2 x-text="item.projectName"></h2>
              <h3 x-text="item.category?.name"></h3>
              <div class="wrap-info">
                <p class="city-name" x-text="item.city?.name"></p>
                <p
                  x-text="item.timeline? (item.timeline.yearStart && item.timeline.yearEnd ? (item.timeline.yearStart + '-'+ item.timeline.yearEnd) :  (item.timeline.yearStart ?? item.timeline.yearEnd)) : ''"
                ></p>
              </div>
              <p x-text="item.area + ' м2'"></p>
            </div>
          </div>
        </article>
      </li>
    </template>
  </ul>
  <div
    x-intersect:enter="hasMore && $store.filters.mode === 'all' && loadMore()"
    class="loader"
    role="status"
  >
    <span x-show="$store.projects.isLoading">...Loading. Please wait</span>
  </div>
</div>
