<section id="group">
  <div class="container">
    <ul class="projects-gallery">
      <template x-for="item in group" :key="item.category">
        <li class="gallery-item item-group">
          <article class="gallery-card">
            <a
              :href="l(`/projects/${item.category}`)"
              class="link-project"
              :aria-label="`go
              to
              category
              ${item.category}`"
              :title="`go
              to
              category
              ${item.category}`"
            ></a>
            <img
              :src="item.project ? item.project.cover: '/images/logo.webp'"
              :alt="item.project?.projectName"
              class="img"
            />
            <div class="hoverInfo groupгInfo">
              <img src="/images/logo.webp" class="logo-info" />
              <div class="info">
                <h2
                  x-text="item.project.category.name"
                  style="text-align: center"
                ></h2>
              </div>
            </div>
          </article>
        </li>
      </template>
    </ul>
  </div>
</section>
