<section class="video-page">
  <div class="container">
    <h2>Відео наших проектів</h2>
    <ul class="videos-list">
      <template x-data x-for="data in $store.videos.items" :key="data._id">
        <li class="videos-item">
          <button
            class="videos-card-btn"
            type="button"
            @click="console.log(data._id)"
          >
            <article class="videos-card">
              <img
                class="videos-img"
                :src="data.cover"
                :alt="data.title"
                width="300"
                loading="lazy"
              />
              <p class="videos-title" x-text="data.title"></p>
            </article>
          </button>
        </li>
      </template>
    </ul>
  </div>
</section>
